body
{
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #ff6;
    background-color: #000;
    overflow: hidden;
}
h1
{
    position: absolute;
    width: 350px;
    left: 35%;
    top: 5%;
    font-size: 150px;
    line-height: 0.8;
    letter-spacing: -10px;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    opacity: 0;
    z-index: 1;
    animation: logo 5s ease-out 1s;
}

h1 sub
{
    display: block;
    font-size: 20px;
    letter-spacing:normal;
}

@keyframes logo {
    0% { -webkit-transform: scale(1); opacity: 1; }
    50% { opacity: 0.5; }
    100% { -webkit-transform: scale(0.1); opacity: 0; }
}

#titles {
    position: absolute;
    width: 700px;
    height: 800px;
    bottom: 0;
    left: 50%;
    margin-left: -350px;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

#titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 10s linear 4s infinite;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: -200%; }
}