body {
    width: 100%;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.logo {
    color: #000;
    font-size: 80px;
    font-family: sans-serif;
}

.title-style {
    color: #4bcaff;
}

.nav-menu_block-parent {
    display: table-cell;
    vertical-align: middle;
    width: 1280px;
    height: 70px;
    background-color: #35444f;
    text-align: center;
}

.nav-menu_block-parent a {
    color: #fff;
    font-size: 24px;
    margin: 0px 42px;
    font-family: sans-serif;
}

.middle_nav_menu {
    display: inline-block;
    vertical-align: top;
    width: 344px;
    border: 1px solid #000;
    margin-right: 43px;
}

main {
    margin-top: 51px;
}

.middle_nav_menu_item {
    color: #495863;
}

.middle_nav_menu_item:hover {
    color: #000;
}

.middle_nav_menu a {
    display: block;
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 40px;
    font-size: 30px;
}

.middle_nav_menu a:hover {
    background-color: #dbdbdb;
    padding-left: 50px;
}

.image-block {
    display: inline-block;
    position: relative;
    width: 885px;
    height: 529px;
    border: 1px solid #000;
}

.main-image {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.text-block {
    width: 820px;
    margin-left: 35%;
    margin-bottom: 50px;
}

h2 {
    display: inline-block;
    width: 15%;
    text-align: right;
    padding-right: 34px;
}

.nav-footer-menu {
    list-style: none;
    display: inline-block;
    width: 78%;
    text-align: left;
}

.nav-footer-menu-item {
    display: inline-block;
    margin: 0px 30px;
    font-size: 21px;
}

.nav-footer-menu-item a {
    color: #0c1927;
}

.nav-footer-menu-item a:hover {
    text-decoration: underline;
    color: #3181a6;
}

.footer-block {
    background-color: #b4b7ba;
    margin-bottom: 30px;
}



