body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

.menu-header-elem {
    color: #b8b8b8;
    font-size: 13px;
    position: relative;
}

.turquoise {
    color: #18cfab;
}

.search-button {
    background: transparent;
    border: none;
    color: #b8b8b8;
    font-size: 23px;
    cursor: pointer;
}

.white {
    color: #fff;
}

.home::after {
     width: 39px;
}

.about::after {
    width: 45px;
}

.skills::after {
    width: 44px;
}

.service::after {
    width: 57px;
}

.work::after {
    width: 41px;
}

.testimonial::after {
    width: 87px;
}

.blog::after {
    width: 36px;
}

.team::after {
    width: 36px;
}

.contact::after {
    width: 62px;
}

.menu-header-elem:hover::after {
    content: "";
    left: 0;
    top: 66px;
    position: absolute;
    height: 3px;
    background-color: #18cfab;
}

.menu-header-elem:hover {
    color: #18cfab;
}

.home:hover::after {
    content: "";
    width: 39px;
    left: 0;
    top: 65px;
    position: absolute;
    height: 3px;
    background-color: #18cfab;
}

.about::after {

}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.bg_for_header_and_section1 {
    background-image: url(../img/Sectionsbackground/section-1header.jpg);
    padding-bottom: 244px;
}

.logo-text-white {
    color: #fff;
    font-size: 29px;
    font-weight: 300;
}

.logo-text-turquoise {
    color: #18cfab;
    font-size: 30px;
    font-weight: 700;
}

.logo-img {
    display: inline-block;
    margin-right: 8px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 25px;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
}

.menu-header {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    width: 683px;
    text-transform: uppercase;
    align-items: center;
}

.wordpress-theme {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 45px;
}

.just-buy {
    color: rgba(212, 212, 212, 255);
    font-size: 30px;
    font-family: "Courier", sans-serif;
    margin-top: 37px;
    margin-bottom: 42px;
}

.main-section {
    text-align: center;
    margin-top: 246px;
}

.buttons-high {
    height: 65px;
}

.button {
    width: 360px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.two-buttons {
    width: 360px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}

.button-link {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.main-button-link {
    height: 65px;
    border-radius: 4px;
    background-color: #fff;
}

.main-button {
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    border-radius: 4px;
    margin-top: 4px;
    text-align: center;
}

.second-button {
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    border-radius: 4px;
    margin-top: 4px;
}

.second-button-link {
    height: 65px;
    border-radius: 4px;
    background-color: #fff;
}

.button-text {
    padding-top: 25px;
    display: inline-block;
}

.block {
    display: flex;
    align-items: center;
    width: 25%;
    height: 367px;
    font-size: 20px;
    text-transform: uppercase;
}

.flex-block {
    width: 100%;
    height: 159px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.block:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 7px solid #18cfab;
}

.block:nth-child(even){
    background-color: #18cfab;
    color: #fff;
    border-top: 7px solid #fff;
}

.blocks {
    display: flex;
}

.menu-services {
    display: flex;
    margin-top: 70px;
}

.menu-services-block {
    width: 192px;
    height: 73px;
    background-color: #f8fcfe;
    color: rgba(113, 113, 113, 255);
    font-size: 16px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
}

.menu-services-block.active {
    background-color: #18cfab;
    color: #fff;
    border: none;

}

.menu-services-block.active::after {
    content: "";
    position: absolute;
    top: 73px;
    left: 45%;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
}

.menu-services-title {
    display: block;
    margin-top: 27px;
}

.title {
    font-size: 36px;
    text-align: center;
    padding-top: 82px;
    margin-bottom: 37px;
    color: rgba(78, 78, 78, 255);
;
}

.parallelogram {
    transform: skewX(68deg);
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    height: 3px;
    width: 76px;
    margin: 0 auto 70px auto;
}



.content-services {
    display: none;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 100px;
}

.content-services.active {
    display: flex;
}

.content-services-text {
    width: 927px;
    height: 136px;
    color: #777777;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: rgba(119, 119, 119, 255);
    text-align: justify;
}

.content-services-img {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.purchase-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Sectionsbackground/section-2.jpg) center;
    /*background-position: center;*/
    text-align: center;
    padding: 128px 0;
}

.purchase-section-title {
    text-transform: uppercase;
    font-size: 40px;
    color: #18cfab;
}

.purchase-section-text {
    font-size: 16pt;
    color: rgba(216, 216, 216, 255);
    margin-top: 35px;
    margin-bottom: 76px;
}

.our-work-block-parallelogram {
    margin-bottom: 70px;
}

.our-work-section {
    background-color: #f8fcfe;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-our-work {
    display: flex;
    margin: 0 auto;
    max-width: 609px;
}

.menu-our-work-block {
    width: 192px;
    height: 58px;
    background-color: #f8fcfe;
    color: rgba(113, 113, 113, 255);
    font-size: 14px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
}

.menu-our-work-title {
    display: block;
    margin-top: 24px;
}

.menu-our-work-block.active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.label-block-icons {
    width: 87px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.label-block-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 39px;
    margin-top: 39px;
    color: #18cfab;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    border: 1px solid #18cfab;
    box-sizing: border-box;
}

.label-block-icon:hover {
    color: #fff;
    background-color: #18cfab;
    box-sizing: border-box;
    border: 1px solid #18cfab;

}

.search-block {
    background-color: #fff;
}

.label-block-title {
    font-size: 20px;
    color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 34px;
}

.label-block-category {
    font-size: 16px;
    color: rgba(138, 138, 138, 255);
    text-transform: capitalize;
    text-align: center;
    margin-top: 13px;
}

.label-block-hover {
    display: none;
}

.label-block {
    width: 286px;
    height: 208px;
    box-sizing: content-box;
    display: none;
}

.visible {
    display: block;
}

.label-block:hover .label-block-img {
    display: none;
}

.label-block:hover .label-block-hover {
    display: block;
    border-top: 3px solid #18cfab;
    box-sizing: border-box;
}

.load-more-button {
    display: none;
}

.load-more-button.active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.load-more-button-flex {
    width: 122px;
    display: flex;
    justify-content: space-around;
}

.our-work-elements {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin-top: 71px;
}

.news-element {
    width: 263px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 45px;
    background-color: #f8fcfe;
}

.news-img-1 {
    background-image: url(../img/breakingnews/1.png);
    height: 208px;
    position: relative;
}

.news-img-2 {
    background-image: url(../img/breakingnews/2.png);
    height: 208px;
    position: relative;
}

.news-img-3 {
    background-image: url(../img/breakingnews/3.png);
    height: 208px;
    position: relative;
}

.news-img-4 {
    background-image: url(../img/breakingnews/4.png);
    height: 208px;
    position: relative;
}

.news-img-5 {
    background-image: url(../img/breakingnews/5.png);
    height: 208px;
    position: relative;
}

.news-img-6 {
    background-image: url(../img/breakingnews/6.png);
    height: 208px;
    position: relative;
}

.news-img-7 {
    background-image: url(../img/breakingnews/7.png);
    height: 208px;
    position: relative;
}

.news-img-8 {
    background-image: url(../img/breakingnews/8.png);
    height: 208px;
    position: relative;
}

.news-element:hover .news-data-block {
    background-color: #18cfab;
}

.news-element:hover .news-element-title {
    color: #18cfab;
}

.news-data-block {
    background-color: #203e38;
    width: 68px;
    height: 66px;
    position: absolute;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.news-data-block-number {
    display: block;
    padding-top: 14px;
    padding-bottom: 6px;
}

.news-element-title {
    margin: 14px;
    font-size: 19px;
    color: rgba(113, 113, 113, 255);
    font-weight: bold;
}

.news-element-info {
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-left: 17px;
    margin-bottom: 12px;
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
}

.news-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews {
    background-image: url(../img/Sectionsbackground/section-3.jpg);
    background-size: cover;
    padding-bottom: 100px;
}

.reviews-title {
    color: #fff;
}

.quotes {
    text-align: center;
}

.review-text {
    width: 1097px;
    height: 46px;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding: 43px;
}

.review-block {
    display: none;
}

.review-block.active {
    display: block;
}

.name {
    font-size: 16px;
    color: #18cfab;
    font-weight: bold;
    text-align: center;
    padding-bottom: 9px;
}

.position {
    font-size: 14px;
    color: rgba(187, 187, 187, 255);
    text-align: center;
    padding-bottom: 27px;
}

.active-img {
    border: 3px solid #18cfab;
    width: 143px;
    height: 142px;
    border-radius: 50%;
}

.active-img-block {
    background: rgba(24, 207, 171, 0.2);
    border-radius: 50%;
    width: 163px;
    height: 162px;
    padding-left: 15px;
    padding-top: 15px;
    margin: 0 auto;
}

.arrow-block {
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    color: #bbbbbb;
    user-select: none;
}

.arrow-block:hover {
    background-color: #18cfab;
    color: #fff;
    border: 1px solid #18cfab;
}

.arrow {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
}

.img-block {
    background: rgba(24, 207, 171, 0.2);
    border-radius: 50%;
    width: 54px;
    height: 54px;
    padding-left: 5px;
    padding-top: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.image {
    border: 1px solid #18cfab;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.slider-flex {
    display: flex;
    width: 482px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 52px;
}

.img-block.active {
    margin-bottom: 25px;
}

.footer-block {
    background-color: #22353f;
}

.footer-text {
    text-align: center;
    display: block;
    font-size: 14px;
    color: rgba(174, 174, 174, 255);
    padding-top: 47px;
    padding-bottom: 47px;
}

.green-word {
    color: #18cfab;
}

footer {
    margin-bottom: 11px;
}
