<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<% if (!name) { %>
    <h1>Hello from view</h1>
    <form action="/" method="GET">
        <input type="text" name="name">
        <button type="submit">Answer</button>
    </form>
<% } else  { %>
    <h1>Hello <%= name%></h1>
<% } %>
</body>
</html>