.main-block {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url("../img/background.png");
    background-repeat: no-repeat;
    color: #fff;
    font-family: "Verdana", sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 1064px;
    margin: 0 auto;
}

.clearfix::after{
    display: block;
    content:'';
    clear: both;
}

.logo-block {
    padding-top: 44px;
}

.logo {
    display: block;
}

.logo img {
    float: left;
    margin-right: 15px;
}

.logo:hover img  {
    content: url("../img/logo-image-hover.png");
}

.logo:hover .logo-text  {
    color: #f26522;
}

.logo-text {
    float: left;
}

.logo-text p {
    font-size: 29px;
    font-family: "Verdana", sans-serif;
}

.logo-text span {
    font-size: 18px;
    font-family: "Verdana", sans-serif;
}

.contacts {
    float: right;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    text-align: right;
}

.image-block {
    position: relative;
    width: 307px;
    height: 200px;
    box-sizing: border-box;
    margin-bottom: 22px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #fff 0%, #000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #fff 0%, #000 100%);
    border-image: linear-gradient(to bottombottom, #fff 0%, #000 100%);
    border-image-slice: 1;
    box-shadow: 6px 13px 20px 5px rgba(0,0,0,0.95);
}

.image-block-link {
    float: left;
    margin-top: 55px;
    text-align: center;
}

h2 {
    font-size: 18px;
}

.shopping {
    background-image: url("../img/image1.png");
}

.image-block-link:hover .cost {
    display: block;
}

.image-block-link:hover h2 {
    color: #f26522;
}

.sightseeng {
    background-image: url("../img/image2.png");
}

.image-block-link:hover .cost {
    display: block;
}

.food {
    background-image: url("../img/image3.png");
}

.image-block-link:hover .cost {
    display: block;
}

.bars {
    background-image: url("../img/image4.png");
}

.image-block-link:hover .cost {
    display: block;
}

.art {
    background-image: url("../img/image5.png");
}

.image-block-link:hover .cost {
    display: block;
}

.walking {
    background-image: url("../img/image6.png");
}

.image-block-link:hover .cost {
    display: block;
}

.elected-block {
    margin-right: 71px;
    text-align: center;
}

.cost {
    display: none;
    width: 100%;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    bottom: -2px;
    box-sizing: border-box;
    padding-right: 18px;
    padding-left: 21px;
}

.footer-text {
    text-align: center;
    font-size: 12px;
    margin-top: 60px;
}

.price-block {
    float: left;
    margin-top: 19px;
}

.price-block p {
    font-size: 10px;
}

.price {
    font-size: 20px;
}

.price::before {
    content: "\20AC";
}

.details {
    float: right;
    margin-top: 32px;
    font-size: 14px;
}

.details::after {
    content: "\003E";
    margin-left: 15px;
}

