$mainColor: teal;

@import "somestyles";

@mixin hello ($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.class-name {
  @include hello(column);
  font-size: 24px;
}