<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <% for(item of data) {%>
        <h2>
            Hello, 
            <%= item.first_name %> 
            <%= item.last_name %>
        </h2>
    <% } %>
</body>
</html>