body {
    font-family: "OpenSans-Semibold", sans-serif;
}

.nav-link-style {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.nav-link {
    width: 710px;
    display: flex;
    justify-content: space-between;
}

.main-title {
    color: #fff;
    font-size: 22px;
}

.h2-title {
    margin: 0;
    text-transform: uppercase;
}

.h3-title {
    font-size: 27px;
    color: #18b4cf;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.h4-title {
    margin: 0;
    font-size: 18px;
}

.header-block {
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cube {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: #171a1c;
}

.logo-arch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.fa-search {
    color: #fff;
}

.latest-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header-bg.jpeg");
    background-position: 30% 90%;
    background-attachment: fixed;
    height: 390px;
}

.latest-news-title {
    color: #fff;
    margin: 0;
    font-size: 27px;
}

.latest-news-subscribe, .latest-news-articles {
    width: 170px;
}

.latest-news-buttons {
    width: 360px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.latest-news-buttons-link {
    color: #fff;
}

.latest-news-text_on_button {
    padding: 20px 0;
    margin: 0;
}

.latest-news-subscribe {
    background-color: #89ca62;
    border-radius: 5px;
}

.latest-news-articles {
    background-color: #14b9d5;
    border-radius: 5px;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.popular {
    background-color: #f2f2f2;
    padding-bottom: 72px;
}

.popular-title {
    padding-top: 43px;
    padding-bottom: 5px;
}

.popular-flex {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.popular-image {
    display: block;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: #fff;
    height: 60px;
    font-size: 18px;
}

.item {
    margin-top: 32px;
}


.popular-clients {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/parallax-bg.jpeg");
    background-position: 30% 90%;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 63px;
}

.popular-clients h2 {
    color: #fff;
    font-size: 32px;
    padding-top: 201px;
    padding-bottom: 51px;
}

.line {
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    margin: 0 auto 60px auto;
}
.clients-elements {
    display: grid;
    margin: 0 auto;
    width: 881px;
    grid-template-columns: auto auto auto auto;
    justify-self: center;
    align-items: baseline;
    padding-bottom: 207px;
}

.clients-image {
    align-self: center;
}

.top-rated-elements {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin-top: 53px;
    margin-bottom: 53px;
}

.top-rated-elements-image {
    width: 100%;
}

.hot-news {
    display: grid;
    padding-bottom: 71px;
}

.hot-news-elements {
    display: grid;
    width: 1170px;
    justify-items: center;
    justify-self: center;
    grid-template-rows: 1fr 1.7fr 1.7fr 1fr;
    grid-row-gap: 45px;
}

.hot-news-elements-row-1 {
    display: grid;
    grid-template-columns: 3.1fr 1fr;
    grid-column-gap: 35px;
}

.cell-bg {
    background-color: #f9f7f7;
}

.cell-1-1 {
    display: grid;
    grid-template-columns: 1.28fr 1fr;
}

.hot-news-elements-row-2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

.cell-2-1 {
    display: grid;

}

.cell-2-2 {

}

.hot_news_text-after {
    padding: 40px 50px 0 30px;
    text-align: right;
}

.hot_news_text-after-title {
    margin-bottom: 22px;
}

.hot-news-text {
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
}

.hot-news-title {
    margin-bottom: 51px;
}

.hot-news-single-img-headline {
    text-align: center;
    margin-top: 12px;
}

.hot_news_text-enter {
    padding: 20px 27px 21px 22px;
    text-align: right;
}

.hot_news_text-enter-title {
    margin-bottom: 22px;
}

.hot-news-elements-row-4 {
    display: grid;
    grid-template-columns: 1fr 3.1fr;
    grid-column-gap: 35px;
}

.item8 {
    display: grid;
    grid-template-columns: 483px 373px;
}

.hot_news_text-before {
    padding: 41px 24px 37px 30px;
}

.hot_news_text-before-title {
    margin-bottom: 22px;
    text-align: right;
}

footer {
    background-color: #1d2124;
}

.footer-block {
    display: grid;
    width: 1170px;
    grid-template-columns: 50% 50%;
    color: #fff;
    margin: 0 auto;
}

.copyright {
    font-size: 13px;
    margin-top: 42px;
}

.footer-logo {
    font-size: 22px;
    text-align: right;
    margin: 32px 0;
}

.footer-logo::before {
    content: "";
    display: inline-block;
    background-image: url(../img/copy3@1X.png);
    width: 38px;
    height: 24px;
}

.hide_show_menu {
    margin: 0 auto;
    position: relative;
    bottom: 92px;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
}

.hide_show_menu_button {
    color: #fff;
}

.fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    background-color: #18b4cf;
    border-radius: 50%;
}

.fixed.hidden {
    display: none;
}

.fix-text {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;

}
