header
  padding: 30px
  border-bottom: 2px solid #f2f2f2
  a
    display: inline-block
    color: black
    text-decoration: none
    margin: 0 10px
    &.active
      color: red
      text-decoration: underline





