body {
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav {
    margin-top: 32px;
    margin-bottom: 35px;
}

.big-letter {
    text-transform: uppercase;
}

.big-letter a {
    margin-right: 65px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #16a085;
}


section {
    background-color: #f5f6f7;
}

section img {
    width: 100%;
}

h1 {
    padding-top: 56px;
    padding-bottom: 35px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.text_block {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 94px;
}

.text_block p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 35px;
}

button {
    margin-top: 5px;
    margin-bottom: 94px;
}

footer p {
    text-align: right;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 47px;
    margin-bottom: 45px;
}

.button {
    width: 192px;
    height: 51px;
    background-color: #16a085;
    margin: 0 auto;
    cursor: pointer;
}

.button p  {
    padding-top: 16px;
    color: #fff;
    font-family: Gotham Rounded;
}
