#main-block {
    background-color: cornflowerblue;
    display: inline-block;
    border-radius: 9px;
    padding: 20px;
    text-align: right;
}

#main-input:focus {
    border: 2px solid greenyellow;
    border-radius: 3px;
}

.price {
    color: white;
}

.current-price {
    padding: 4px;
    display: inline-block;
    text-align: left;
    width: 160px;
    border: 1px solid white ;
    border-radius: 14px;
    margin-bottom: 5px;
    color: #fff;
}

.reset-span {
    color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    margin-left: 15px;
}

.error-span {
    padding: 4px;
    display: inline-block;
    text-align: left;
    width: 162px;
    border: 1px solid white ;
    border-radius: 14px;
    margin-top: 5px;
    color: #fff;
}